.cardSelectors{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.cardSelectors li{
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D5F1FE;
    border-radius: 8px;
    cursor: pointer;
}